@import 'https://fonts.googleapis.com/css?family=Raleway';

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Times New Roman', Times, serif;
}
.logo a{
    text-decoration: none;
    color: #FFF;
}
.logo a:hover{
    text-decoration: none;
    color: #FFF;
}
nav{
    width: 100%;
    height: 10%;
    padding: 1.5rem;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.nav-link{
    color: white !important;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
    position: relative;
}
.openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    background-color: transparent;
}
.mainMenu .closeMenu,
.icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {
    color: rgb(66, 103, 178);
}
.fa-instagram:hover {
    color: rgb(253, 29, 29);
}
.logo {
    margin: 6px;
    cursor: pointer;
    font-size: 1.5rem;
}
@media (max-width: 800px) {
    .mainMenu {
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }
    .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .openMenu {
        display: block;
    }
    .mainMenu li a:hover {
        background: none;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

ul{
    margin: 0 0 0 auto !important;
}

html, body{
    margin: 0px;
}

.container1{
    /* font-family: Raleway; */
    margin: auto 0 auto 0;
    text-align: center;
}

.container1 a{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.borderYtoX a:before, .borderYtoX a:after{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.2s;
}
.borderYtoX a:before{
    left: 0px;
    top: 0px;
}

.borderYtoX a:after{
    right: 0px;
    bottom: 0px;
}
.borderYtoX a:hover{
    color: red !important;
}
.borderYtoX a:hover:before, .borderYtoX a:hover:after{
    opacity: 1;
    height: 2px;
    width: 100%;
}
.navbar-toggler{
    border: none !important;
    color: transparent !important;
    /* background-color: red !important; */
}
.logo h1{
    margin: auto 0;
}